* {margin: 0; padding: 0; font-family: sans-serif; box-sizing: border-box;}
  
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #414141;
  overflow: hidden;
}
  
.draw-area {
  width: 1280px;
  height: 720px;
  position: relative;
  background-color: #fff;
  touch-action: none;
}
  
.Menu {
  z-index: 1;
  top: 10px;
  left: 10px;
  position: fixed;
  width: 50px;
  max-width: 100vw;
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background: rgba(252, 252, 252, 0.85);
  background-blend-mode: normal, luminosity;
  backdrop-filter: blur(30px);
  padding: 5px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.0578);
  border-radius: 7px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14);
}

input[type="range"] {
  appearance: slider-vertical;
}
#brush{
  background-image: url(brush.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 40px;
}
#text{
  display: none;
}

@media (horizontal-viewport-segments:2) {
  .Menu {
    height: 100vh;
    width: env(viewport-segment-right 0 0);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: none;
    border-radius: 0;
  }

  input[type="range"] {
    appearance: slider-horizontal;
  }
  #text{
    display: inline;
  }
}

@media (vertical-viewport-segments:2) {
  .Menu {
    height: env(viewport-segment-height 0 0);
    width: env(viewport-segment-width 0 0);
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    border-radius: 0;
  }

  input[type="range"] {
    appearance: slider-horizontal;
  }
  #text{
    display: inline;
  }
}